*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
}


nav ul:nth-child(1) h1{
    font-size: 33px;
    font-family: sans-serif;
    color: #1E212C;
    font-weight: 700;
}

nav ul:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}

nav ul li a{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    color: #424551;
}


nav ul:nth-child(2){
    display: flex;
    align-items: center;
    gap: 36px;
}

nav ul:nth-child(2) li button{
    width: 207px;
    height: 52px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
    color: white;
    background: #FF3F3A;
    cursor: pointer;
}


nav ul:nth-child(2) li h2{
    font-size: 16px;
    font-family: sans-serif;
    color: #424551;
}

