* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    padding: 20px;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
}


nav ul:nth-child(1) h1 {
    font-size: 33px;
    font-family: sans-serif;
    color: #1E212C;
    font-weight: 700;
}

nav ul:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}

nav ul li a {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    color: #424551;
}


nav ul:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 36px;
}

nav ul:nth-child(2) li button {
    width: 207px;
    height: 52px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
    color: white;
    background: #FF3F3A;
    cursor: pointer;
}


nav ul:nth-child(2) li h2 {
    font-size: 16px;
    font-family: sans-serif;
    color: #424551;
}

.class {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: pink;
    padding-top: 120px;
    height: 468px;

}

.class h3 {
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
    color: #FF3F3A;
}

.class h1 {
    width: 1020px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 46px;
    margin-top: 12px;
}

.cart h1 {
    font-size: 46px;
    font-weight: 700;
    font-family: sans-serif;
}

.cart p {
    width: 560px;
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 16px;
}

.cardd {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 24px;
}

.cardt {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.card h3 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
}

.card span {
    color: #FF3F3A;
}

.card-bir h4 {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 700;
}

.card-bir h2 {
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 700;
    color: #FF3F3A;
}

.card-bir p {
    width: 429px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}

.card-bir h3 {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 700;
    color: #FF3F3A;
    margin-top: 32px;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 120px;
}

.card-bir button {
    width: 380px;
    height: 44px;
    border-radius: 4px;
    border: none;
    font-family: sans-serif;
    color: white;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    margin-top: 40px;
}

.card-bir {
    width: 495px;
    height: 375px;
    border: 2px solid #E5E8ED;
    padding: 31px;
}

.cart-ikki h5 {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
}

.cart-ikki h1 {
    font-size: 46px;
    font-family: sans-serif;
    font-weight: 700;
    margin-top: 8px;

}

.cart-ikki h3 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 13px;
}

.cart-ikki p {
    width: 600px;
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 32px;
}

.lll {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 40px;

}

.fuu {
    margin-top: 40px;
}

.lll {
    margin-top: 40px;
}

.cart-ikki {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    margin-top: 100px;
}

.card-uch h4 {
    font-weight: 600;
    font-family: sans-serif;
    font-size: 16px;
}

.card-uch h1 {
    width: 492px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 46px;
    margin-top: 8px;
}

.bbb p {
    width: 600px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.card-tort {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 20px;
}

.card-tort- {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.cart-uch {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
}

.card-besh h1 {
    width: 600px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-top: 60px;
}

.ppp input {
    width: 422px;
    height: 52px;
    border-radius: 4px;
    border: none;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 21px;
}

.ooo button {
    width: 154px;
    height: 52px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    color: white;
}

.card-besh p {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 24px;
}

.cart-tort {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    gap: 100px;
    width: 1230px;
    height: 354px;
    background: pink;
    margin: 100px auto;
}

.ttt {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 48px;
}

.card-olti h4 {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
}

.card-olti h2 {
    font-size: 46px;
    font-family: sans-serif;
    font-weight: 700;
}

.card-olti input {
    width: 495px;
    height: 52px;
    margin-top: 24px;

}

.card-olti label {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.card-olti button {
    width: 495px;
    height: 52px;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: white;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border: none;
    border-radius: 5px;
    margin-top: 40px;
}

.card-olti p {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 24px;
}

.cart-besh {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.kkk h3 {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
}

.kkk h1 {
    font-size: 46px;
    font-family: sans-serif;
    font-weight: 700;
}

.fff h2 {
    font-family: sans-serif;
    color: #FF3F3A;
}

.fff h3 {
    font-family: sans-serif;
    margin-top: 4px;
}

.fff p {
    width: 342px;
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 20px;
}

.fff h4 {
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 8px;
}

.fff button {
    width: 342px;
    height: 44px;
    border: 1px solid #FF3F3A;
    font-family: sans-serif;
    font-size: 16px;
    color: #FF3F3A;
    margin-top: 51px;
}

.fff {
    width: 390px;
    height: 302px;
    background: white;
    padding: 21px;
    border-radius: 4px;
}

.cart-olti {
    width: 1350px;
    height: 687px;
    background: #E5E8ED;
}

.kkk {
    margin-left: 30px;
    margin-top: 100px;
    padding-top: 80px;
}

.jjj {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
}

.ggg h3 {
    font-size: 28px;
    font-family: sans-serif;
}

.www button {
    width: 214px;
    height: 52px;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border: none;
}

.ggg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 85px;
}

.footer {
    background: linear-gradient(90deg, #0f172a, #1e293b);
    color: #cbd5e1;
    padding: 60px 0 30px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.footer-col h3 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 14px;
}

.logo {
    color: #fff;
    margin-bottom: 15px;
}

.footer-col p,
.footer-col li,
small {
    font-size: 13px;
    line-height: 1.6;
}

.footer-col ul {
    list-style: none;
}

.footer-col li {
    margin-bottom: 8px;
    cursor: pointer;
}

.socials a {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: #334155;
    color: #fff;
    text-align: center;
    line-height: 28px;
    border-radius: 50%;
    margin-right: 6px;
    text-decoration: none;
    font-size: 12px;
}

.newsletter .input-box {
    display: flex;
    margin: 10px 0;
}

.newsletter input {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
    background: #334155;
    color: #fff;
}

.newsletter button {
    background: #2563eb;
    border: none;
    color: #fff;
    padding: 0 12px;
    cursor: pointer;
}

.footer-bottom {
    border-top: 1px solid #334155;
    margin-top: 40px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.footer-bottom a {
    color: #60a5fa;
    text-decoration: none;
}