* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
}


nav ul:nth-child(1) h1 {
    font-size: 33px;
    font-family: sans-serif;
    color: #1E212C;
    font-weight: 700;
}

nav ul:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}

nav ul li a {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    color: #424551;
}


nav ul:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 36px;
}

nav ul:nth-child(2) li button {
    width: 207px;
    height: 52px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
    color: white;
    background: #FF3F3A;
    cursor: pointer;
}


nav ul:nth-child(2) li h2 {
    font-size: 16px;
    font-family: sans-serif;
    color: #424551;
}









.enjoybig {
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

.enjoy h4 {
    margin-top: -10px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;

}

.enjoy h2 {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0%;

}

.containerbtn {
    display: flex;
    width: 1000px;
    padding: 20px;
    gap: 50px;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}


.btn button {
    width: 105px;
    height: 30px;
    border: none;
    background: none;
}

.containerbtn .btn:first-child button {
    border: 1px solid red;
}



.container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: #ffffff;
    border: 1px solid #E5E8ED;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.3s;
}



.card img {
    width: 100%;
    height: 220px;
    display: block;
}

.card-body {
    padding: 20px;
}

.card-body h3 {
    font-size: 18px;
    color: #1e212c;
    margin-bottom: 15px;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price {
    color: #FF4242;
    font-weight: bold;
    font-size: 18px;
}

.author {
    color: #787A80;
    font-size: 14px;
}

.testimonalbig {
    width: 100%;
    max-width: 1400px;
    height: auto;
    background-color: gray/200;
}

.testimonalbig {
    text-align: center;
    padding: 80px 0;
    position: relative;
}

.testt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 40px auto;
    gap: 30px;
}

.text-content {
    max-width: 800px;
    text-align: left;
    background: #fff;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);/
}

.author-info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.author-info img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.arrow {
    width: 48px;
    height: 48px;
}

.right-arrow {
    transform: rotate(180deg);
}

.dots {
    display: block;
    margin: 0 auto;
}

.yourbig {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 70px;
}

.your {
    margin-top: 150px;
    padding-left: 30px;
    word-spacing: 1px;
}

.your h5 {
    margin-bottom: 20px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    word-spacing: 10px;

}

.your h2 {
    margin-bottom: 20px;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0%;

    word-spacing: 10px;

}

.your p {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    letter-spacing: 0%;

}

.your img {
    margin-bottom: -60px;
    gap: 15px;
}

.dobig {
    width: 100%;
    max-width: 14000px;
    height: 564px;
    background: rgba(245, 150, 237, 0.634);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
}

.yourr img {
    width: 705px;
    height: 500px;
    margin-left: -130px;
}

.dotext h5 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.dotext h3 {
    font-size: 32px;
    margin-bottom: 40px;
    max-width: 600px;
}

form {
    display: flex;
    gap: 30px;
}

input {
    padding: 15px 25px;
    width: 350px;
    border-radius: 4px 0 0 4px;
    border: none;
}

button {
    padding: 15px 40px;
    background: #FF4242;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-weight: bold;
}

.containerbtn input {
    width: auto;
}


.footer {
    background: linear-gradient(90deg, #0f172a, #1e293b);
    color: #cbd5e1;
    padding: 60px 0 30px;
}

.containeer {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.footer-col h3 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 14px;
}

.logo {
    color: #fff;
    margin-bottom: 15px;
}

.footer-col p,
.footer-col li,
small {
    font-size: 13px;
    line-height: 1.6;
}

.footer-col ul {
    list-style: none;
}

.footer-col li {
    margin-bottom: 8px;
    cursor: pointer;
}

.socials a {


    display: inline-block;
    width: 28px;
    height: 28px;
    background: #334155;
    color: #fff;
    text-align: center;
    line-height: 28px;
    border-radius: 50%;
    margin-right: 6px;
    text-decoration: none;
    font-size: 12px;
}

.newsletter .input-box {
    display: flex;
    margin: 10px 0;
}

.newsletter input {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
    background: #334155;
    color: #fff;
}

.newsletter button {
    background: #2563eb;
    border: none;
    color: #fff;
    padding: 0 12px;
    cursor: pointer;
}

.footer-bottom {
    border-top: 1px solid #334155;
    margin-top: 40px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.footer-bottom a {
    color: #60a5fa;
    text-decoration: none;
}

@media screen and (max-width: 400px) {
    .containerbtn {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
header{
    display: none;
}
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .arrow {
        display: none;
    }

    .yourbig {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 10px;
    }

    .vv {
        display: none;
    }

    .yourr img {
        width: 400px;
        margin-left: 2px;
    }

    .dobig {
        width: 400px;
        margin-left: 5px;
    }
    .dotrext h5 {
        font-size: 11px;
    }

    .dotext h3 {
        font-size: 15px;
    }

    .dobig form {
        display: block;

    }

    .dobig button {
        margin-top: 20px;
    }

    .containerbtn {
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;
        padding: 10px;
    }

    .btn {
        flex-basis: calc(50% - 20px);
        display: flex;
        justify-content: center;
    }

    .btn button {
        width: 100%;
        max-width: 120px;
    }

    .footer-grid {
        grid-template-columns: 1fr;
        gap: 20px;
        text-align: center;
    }

    .footer {
        background: linear-gradient(90deg, #0f172a, #1e293b);
        color: #cbd5e1;
        padding: 60px 0 30px;
        margin-left: 5px;
        width: 400px;
        margin-top: 20px;
        border-radius: 5px;
    }

}